
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
    padding: 20px;
}
.sobre-mim p{
    margin-bottom: 15px;

}

header {
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

#title {
    font-size: 50px;
    color: #003366;
    margin-bottom: 15px;
    text-align: center;
}


nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #0055aa;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #002244;
}

section {
    background: #ffffff;
    padding: 25px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

section h2 {
    color: #003366;
    margin-bottom: 15px;
}


section div, section h3 {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
}

ul li {
    margin-bottom: 8px;
}


footer {
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    color: #555;
}


