.btn {

    margin-top: 10px;
    padding: 8px;
    border: none;
    

    border-radius: 5px;
    cursor: pointer;

    border: none;
    transition: all 0.2s ease;


}

.btn--send {
    background-color: green;
}
.btn--send:hover{
    filter: brightness(0.55);
}

.btn--cancel {
    background-color: red;
}
.btn--cancel:hover{
    filter: brightness(0.55);
}